<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="style.css" rel="stylesheet" />
</head>
<body>
 {{>header}}
 
 <form>
     <input type="text" id="username" name="Username" />
     <input type="text" id="password" name="Password" />
     <input type="submit" id="submit" name="Submit" />

 </form>

 {{footer}} 
</body>
</html>   