<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../../public/css/style.css"/>
</head>
<body>
  <section id="dataCollection" class="w3-container">
 {{>header}}
 <form action="/api/register" method="POST" class="w3-center">
 
 <!--Personal Data-->
     <h2 class="w3-text-green">Personal Data</h2>
     <div><input type="text" id="fname" placeholder="First Name" name="firstName" /></div>
     <div><input type="text" id="lname" placeholder="Last Name" name="lastName" /></div>
     <div><input type="email" id="email" placeholder="Email" name="email" /></div> 
     <div><input type="password" id="password" placeholder="Password" name="password" /></div>
     <div><input type="password" id="password2" placeholder="Confirm Password" name="password2" /></div>
     </br>
  
     <input class="w3-round-xxlarge" type="submit" id="submit" name="Submit" />
          </form>

</section>
<section id="footer">
  <div class="fixed">
    {{>footer}}
  </div>
</section>
</body>
</html>   