<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="style.css" rel="stylesheet" />
</head>
<body>
 {{>header}}
 <form>
     <h2>Single Sign On Stuff</h2>
     <div><label>Object Identifier:</label><input type="text" id="cert" name="Object Identifier" /></div>
     <div><label>Cert:</label><input type="text" id="cert" name="Cert" /></div>
     <div><label>Logout Endpoint:</label><input type="text" id="loe" name="LO Endpoint" /></div> 
     <div><label>Login Endpoint:</label><input type="text" id="lie" name="LI Endpoint" /></div> 
  </form>   
      {{footer}} 
</body>
</html>   