
<header>
    <h1>{{title}}</h1>
    
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
    <a href="/sso">Single Sign On Configuraiton</a>

</header>