
<header>
    <h1>{{title}}</h1>
  
    

    <div class="w3-bar w3-blue w3-border">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
    <a href="/sso">SSO</a>
    </div>
</header>