
<header>
    <div class="w3-bar w3-green w3-border">
    <span class="w3-bar-item">{{title}}</span>
    <span class="w3-right">
    <a class="w3-bar-item w3-button" href="/">Home</a>
    <a class="w3-bar-item w3-button" href="/register">Register</a>
    <a class="w3-bar-item w3-button" href="/login">Log In</a>
    <a class="w3-bar-item w3-button" href="/logout">Log Out</a>
    <a class="w3-bar-item w3-button" href="/sso">SSO</a>
    </span>
    </div>
</header>