<%- include ./partials/header.ejs %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="/public/kangaroo.jpg" />
        <h1><i class="fab fa-3x"></i></h1>
        <p>My Name is Jason Visser and this is a silly page about where to find me. </p>
        <a href="https://github.com/jason-visser" class="btn btn-primary btn-block mb-2"
          >Follow Me on GitHub</a>
        <a href="https://twitter.com/j1visser?lang=en" class="btn btn-secondary btn-block">Twitter</a>
      </div>
    </div>
  </div>