
<%- include ./partials/emp_navbar.ejs %>

<h1 class="mt-4"><%= name %>'s Goal List</h1>
<p class="lead mb-3">The key to obtaining your goals is by constantly validating and making sure that your short terms goals are aligned with your stars goal.</p>




